# Database
DATABASE_URL="postgresql://weatherapp:weatherapp@localhost:5432/weatherapp"

# WeatherAPI.com
WEATHER_API_KEY=

# Sentry error tracking
NEXT_PUBLIC_SENTRY_DSN=

# Sentry
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
